*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

#main{

}

#nav{
    display: inline-block;
}

#header{
    height: 46px;
    background-color: black;
}

#nav, .supnav{
    list-style-type: none;
}

#nav li{
    position: relative;
     

}
#nav > li{
    display: inline-block;
    
    
}

#nav > li > a{
    color: white;
    text-transform: uppercase;
    
    
    
}

#nav li a{
    
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav > li:hover > a,
.supnav li:hover a{
    background-color: #ccc;
    color: black;
    
    

}
#nav > li:hover > .supnav{
    display: block;
}

#nav .supnav a{
    color: black;
    padding: 0 12px;
    line-height: 38px;
}

#nav .ti-angle-down{
    font-size: 12px;
}   

#header .search-btn:hover{
    background-color:#f44336;
    cursor: pointer;
}   

#header .search-btn{
    float: right;
    line-height: 46px;
    padding: 0 21px ;
    
}

#header .ti-search{
    color: white;
    font-size: 16px;
}





  


#nav .supnav{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    
}


    



#slider{
height: 500px;
background-color: violet;
}

#content{

}

#footer{

}
