*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}


#main{

}

#header{
    height: 46px;
    background-color: black;
}

#nav{
    display: inline-block;
}

#nav > li{
    display: inline-block;
}

#nav li{
    position: relative;
}

#nav > li > a{
    color: white;
    line-height: 46px;
    padding: 0 24px;
    text-transform: uppercase;
}



#nav li a{
    
    text-decoration: none;
    display: block;
    
}

.supnav > li > a{
    color: black;
    padding:0 12px;
    line-height: 36px;
}

.supnav li{
    list-style-type: none;
}

#nav > li:hover > a,
.supnav  li:hover  a{
    background-color: #ccc;
    color: black;
}

#nav li:hover .supnav{
    display: block;
}

#nav .supnav{
    display: none;
    position:absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 0 10px rgba( 0 , 0 , 0, 0.6);
}

#nav .ti-angle-down{
    font-size: 12px;
}

#header .search-btn:hover{
    background-color: red;
    cursor: pointer;
}

#header .search-btn{
    float: right;
    padding: 0 21px;
    line-height: 46px;

}

#header .ti-search{
    color: white;
    font-size: 16px;
}


#slider{
    height: 500px;
    background-color: thistle;
}

#content{

}

#footer{

}
